#account {
    color: white;
}

#account a {
    color: white;
    text-decoration: none;
}

#account a:hover {
    border: 1px solid white;
}

.register {
    border: none;
    font-weight: 500;

}

.register:hover {
   
    color: #ffa372;
}
.cart {
    font-weight: 500;
}

.cart:hover {
    color: #ffa372;
}
