#account {
    color: white;
}

#account a {
    color: white;
    text-decoration: none;
    border: 1px solid transparent;
    font-size: 16px;
}

#account a:hover {
    border: 1px solid white;
}

.cart {
    font-weight: 500;
    font-size: 16px;
    border: 1px solid transparent;
}

.cart:hover {
    color: #534d6e;
    border: 1px solid white;
}

.cart-icon {
    font-size: 22px;
}