@keyframes slideinleft {
  from {
    transform: translateX(-300%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes slideinright {
  from {
    transform: translateX(500%);
  }

  to {
    transform: translateX(0%);
  }
}

.slideinleft {
  animation: slideinleft 2s;
}
.slideinright {
  animation: slideinright 2s;
}
div#banner {
  display: grid;
  grid-template-columns: 1fr 1fr;

  background-image: linear-gradient(
      100deg,
      rgba(245, 70, 66, 0.75),
      rgba(8, 83, 156, 0.75)
    ),
    url(img/landpage.png);
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}
div#banner .text {
  color: #003d29;
  width: 60%;
  margin-left: 40px;
}

div#banner .image-div {
  width: 100%;
}

div#banner .text h2 {
  font-size: 70px;
  font-weight: 800;
  margin: 20px 0 30px 0;
  padding: 0;
}


div#banner .text button {
  width: 140px;
  height: 50px;
  background: #037a53;
  text-align: center;
  padding: 16px, 36px;
  border: 1px solid #035e3f;
}

.intro2 {
  font-size: 18px;
  font-weight: 600;
}

/*
.overlay {
  position: absolute;
  top: 140px;
  left: 160px;
  right: 1%;
  bottom: 5%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -3;
}
*/