@keyframes slideinleft {
  from {
    transform: translateX(-300%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes slideinright {
  from {
    transform: translateX(500%);
  }

  to {
    transform: translateX(0%);
  }
}

.slideinleft {
  animation: slideinleft 2s;
}
.slideinright {
  animation: slideinright 2s;
}
div#banner {
  display: grid;
  grid-template-columns: 1fr 1fr;

  background-image: linear-gradient(
      100deg,
      rgb(53, 47, 73),
      rgb(31, 26, 48)
    ),
    url(img/landpage.png);
  background-size: cover;
  background-position: center;
  height: 470px;
}
.text {
  color: white;
  width: 80%;
  padding-left: 25px;
}

div#banner .text h2 {
  font-size: 70px;
  font-weight: 600;
  margin: 10px 0 30px 0;
  padding: 0;
}

.image-div {
  height: 95%;
}

#banner button {
  background: #ebac4e;
  text-align: center;
  border: 1px solid #e9a745;
  padding: 6px 10px;
  transition: transform 0.5s ease;
}

#banner button:hover {
  background: #e9a032;
  border: 1px solid #e69823;
}

.intro2 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  text-align: left;
  margin: 20px 0;
  color: white;
}

.multi-text {
  background: linear-gradient(rgb(31, 26, 48), rgb(21, 17, 36));
  font-size: 18px;
  font-weight: 800;
  text-align: center;
  padding: 22px 0;
  color: white;
}