.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.carousel-image img {
  width: 100%; /* Make the image take the full width of the container */
  height: auto; /* Maintain the aspect ratio */
  object-fit: cover; /* Cover the container without stretching */
}

.carousel-images {
  display: flex;
  transition: transform 1.2s ease;
}

.carousel-image {
  min-width: 100%;
}