#logo {
    font-family: fantasy;
    color: white;
    padding-left: 15px;
}

#pmenus {
    text-decoration: none;
}

.no-padding {
  padding: 0 !important;
}

#pmenus:hover {
    text-decoration: underline;
}

div.col7 {
    margin-top: 10px;
}
