#header-search input[type="search"] {
    border-radius: 1%;
    border: 1px solid #ccc;
    padding: 5px 10px;
}


#header-search input[type="search"]:focus {
    border-color: #007bff;
    outline: none;
}

#header-search button {
    border: 1px solid #ccc;
    border-radius: 1%;
}
#header-search button:hover { 
    outline: none; 
    border: none;
    background-color: #fff;
  }
