/* Center the navigation menu */
body {
  width: 100%;
  margin: 0;
  display: block;
  align-items: center; /* Align content at the top of the screen */
  justify-content: center; /* This will center the content horizontally */
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  flex-direction: column; /* Arrange body content in a column */
}

.root {
  width: 100%;
  background-color: rgb(240, 240, 240);
}



