@keyframes slideinleft {
    from {
      transform: translateX(-300%);
    }
  
    to {
      transform: translateX(0%);
    }
  }
  
  @keyframes slideinright {
    from {
        transform: translateX(500%);
    }
  
    to {
        transform: translateX(0%);
    }
  }
    
.slideinleft  {
    animation:  slideinleft  2s  ;
}
.slideinright  {
    animation:  slideinright  2s  ;
}
div#banner {

    display: flex;
    flex-direction: row;
  
    background-image: linear-gradient(100deg,
    rgba(245, 70, 66, 0.75),
    rgba(8, 83, 156, 0.75)), url(img/landpage.png);
    background-size: cover;
    background-position: center;
    
    height: 600px;
    margin: 0 0 10px 0;
    padding: 5px 0 10px 0;
    width: 100%;
  }
  div#banner .text {
    color: #003d29;
    width: 50%;
    margin: 0 0 0 70px;
    
  }
  
  div#banner .text h2 {
    font-size: 90px;
    font-weight: 700;
    margin: 100px 0 30px 0;
    padding: 0;
  }
  
  .overlay {
          position: absolute;
          top: 140px;
          left: 160px; 
          right: 1%; 
          bottom: 5%; 
          background-color: rgba(0, 0, 0, 0.2); /* Semi-transparent black overlay */ 
          display: flex;
          justify-content: center; 
          align-items: center;
          z-index: -3;
        }
div#banner .text button {
    width: 140px;
    height: 50px;
    background: #003d29;
    text-align: center;
    padding: 16px, 36px;
    

}
