#logo {
    font-family: fantasy;
    color: #003d29;
}
#pmenus {
    padding-top: 100px;
    text-decoration: none;
}
div.col-7 {
    padding: 10px 10px 10px 50px;
}
div.px-5.text-dark.col-4 {
    padding: 10px 10px 10px 50px;
}

